*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
    font-family: 'Space Mono', monospace;

}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin-top: 0;
}
.wrap{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.menu {
    overflow: hidden;
    background-color: white;
  }
  
  .menu a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .menu a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(246, 246, 246);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logo{
  position: absolute;
  text-transform: uppercase;
  }
  .intro{
    min-height: calc(100vh - 46px);
    background-color: rgb(246, 246, 246);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro .wrap{
    width: 60%;
  }
  .section{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h1{
    text-transform: uppercase;
  }
  .intro p{
    text-transform: uppercase;
  }
  .btn{
    color: white;
    background-color: rgb(48, 47, 47);
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
  }
  .parent{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .parent .collum:not(:last-child){
margin-right: 20px;
  }
  .parent .collum{
    padding: 10px;
    flex-basis: 44.44%;
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, .3);
  }
  .parent .collum:nth-child(1){
    background-color: rgb(255, 84, 68);
  }
  .parent .collum:nth-child(2){
    background-color: rgb(170, 45, 182);
  }
  .parent .collum:nth-child(3){
    background-color: rgb(30, 194, 164);
  }
  .parent .collum:nth-child(4){
    background-color: rgb(39, 139, 224);
  }
  .wrap .section{
    background-color: rgb(246, 246, 246);
  }
  .parent-alt{
    background-color: rgb(246, 246, 246);
  }
  .mid{
    background-color: rgb(246, 246, 246);
    text-align: center;
  }
  .mid a{
    color: black;
    background-color: #e6e1e1;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 5px;
  }
  .mid a.active{
    background-color: black;
    color: white;
  }
  .mid a:hover{
    background-color: rgb(45, 45, 45);
    color: white;
  }
  .parent-alt{
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    
  }
  .parent-alt .collum-alt{
    flex-basis: 33.33%;
    margin-bottom: 50px;
  }
  .parent-alt .collum-alt img:hover{
    border: 2px solid black;
    transition: all 0.3s ease;
  }
  .down h1 {
   text-align: center;
   margin-bottom: 20px;
  }
  p{
    text-align: center;
    margin-bottom: 50px;
  }
  .down ul{
    list-style-image: url('/images/arrow.png');
    text-transform: uppercase;
  }
  .down ul li{
    margin-bottom: 20px;
  }
  hr{
    width: 60px;
    border-top: 1px solid rgb(246, 246, 246);
    margin-bottom: 50px;
  }
  .social{
    background-color: #464646;
    color: white;
    display: flex;
    text-align: center;
  }
  
  .social i{
  font-size: 25px;
  padding: 10px 15px;
  }
  .social i:hover{
    color: #202020;
    transition: all 0.3s ease;
  }
  .last{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  @media (min-width: 425px){
    .menu a.icon{
      display: none;
    }
  }
  @media (max-width: 425px) {
   .parent{
    flex-wrap: wrap;
    flex-direction: column;
   }
   .parent .collum:not(:last-child){
    margin-right: 0;
   }
   .parent .collum{
    margin-bottom: 20px;
    flex-basis: 100%;
   }
   .parent-alt{
    flex-wrap: wrap;
    flex-direction: column;
   }
   .parent-alt .collum-alt:not(:last-child){
    margin-right: 0;
   }
   .parent-alt .collum-alt{
    margin-bottom: 20px;
    flex-basis: 100%;
   }
   .menu a:not(:last-child){
    display: none;
   }
  
   .dropdown {
    display: none;
   }
   
  }
 
 